<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AI_Conquer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <AI_Conquer.Properties.Settings>
            <setting name="AddressX" serializeAs="String">
                <value />
            </setting>
            <setting name="AddressY" serializeAs="String">
                <value />
            </setting>
            <setting name="BotSpeed" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="CentrePoint" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MaxTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MaxBottom" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MaxLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MaxRight" serializeAs="String">
                <value>0</value>
            </setting>
        </AI_Conquer.Properties.Settings>
    </userSettings>
</configuration>